@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

a:focus,
a:active {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

ul {
  list-style: none;
}

img,
svg,
video {
  display: inline-block;
  vertical-align: top;
  height: auto;
  object-fit: cover;
}

/* form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  background: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--black-3);
}

a {
  transition: all 0.3s ease;
}
a:hover {
  color: var(--green);
}

.container {
  max-width: 80.625rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.logo {
  cursor: pointer;
}

.img-btn {
  cursor: pointer;
  transition: all 0.3s ease;
}
.img-btn:hover {
  transform: scale(1.08);
}

.btn-big {
  cursor: pointer;
  transition: all 0.3s ease;
}
.btn-big:hover {
  transform: scale(1.08);
}

.link-hover {
  transition: all 0.3 ease;
}
.link-hover:hover {
  border-bottom: 1px solid var(--green);
}

.cart-img {
  cursor: pointer;
  transition: transform 0.3s ease;
}
.cart-img:hover {
  transform: scale(1.03);
}

:root {
  --green: #00925d;
  --red: #eb3f5e;
  --white: #fff;
  --grey: #9ca4ab;
  --black-1: #28262d;
  --black-2: #0d0c0f;
  --black-3: #08080a;
}

:root {
  --font-family: "Inter", sans-serif;
  --second-family: "Lora", sans-serif;
  --third-family: "Roboto", sans-serif;
  --font3: "Rubik", sans-serif;
  --font4: "Plus Jakarta Sans", sans-serif;
}

.home {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/img/scale_1200 (1).jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-size: cover;
  padding: 1.875rem 0 0 0;
}
.home__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home-button {
  display: flex;
  gap: 0.5rem;
}

.welcome {
  display: grid;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
  padding: 15.625rem 0.9375rem;
}
.welcome__title {
  font-size: 3rem;
  font-family: var(--font-family);
  font-weight: 900;
  color: var(--white);
  line-height: 1;
}
.welcome__desc {
  font-size: 1.5rem;
  font-family: var(--font-family);
  font-weight: 400;
  color: var(--white);
  margin-top: 1.5rem;
}

.main {
  display: grid;
  gap: 3.125rem;
}

.movies {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 0.9375rem;
  padding: 1.25rem 3.125rem;
  scrollbar-width: none;
  position: relative;
}

.movie {
  width: 14.375rem;
  flex: 0 0 auto;
}
.movie__title {
  font-family: var(--font3);
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 125%;
  letter-spacing: 0.01em;
  color: var(--white);
  margin-top: 1.5rem;
}
.movie__img {
  border-radius: 1rem;
  width: 100%;
  height: 21.5625rem;
  object-fit: cover;
  display: block;
}
.movie__name {
  position: absolute;
  bottom: 1.875rem;
  left: 0.9375rem;
  font-family: var(--font3);
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: #f9f9f9;
  z-index: 4;
  margin: 0;
  text-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.5);
}
.movie-desc {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0.4375rem;
  left: 0.9375rem;
  z-index: 4;
  gap: 0.3125rem;
}
.movie-desc__rating {
  font-family: var(--font3);
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 167%;
  letter-spacing: 0.01em;
  color: #ffcd3c;
}
.movie-desc__genre {
  font-family: var(--font3);
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 167%;
  letter-spacing: 0.01em;
  color: #cbd5e1;
}
.movie-container__cart {
  position: relative;
}
.movie-container__cart::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
  border-radius: 1rem;
  pointer-events: none;
  z-index: 2;
}

.arrow {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  bottom: -12.5rem;
}
.arrow-btn {
  background-color: var(--black-1);
  border-radius: 6.25rem;
  padding: 0.375rem;
}
.arrow-right {
  margin-left: -3.125rem;
}
.arrow-left {
  margin-right: -3.125rem;
}

.movies-details {
  margin-top: 4rem;
}

.story__title {
  font-family: var(--font-family);
  font-weight: 700;
  font-style: Bold;
  font-size: 1.125rem;
  color: var(--white);
}
.story__desc {
  font-family: var(--font-family);
  font-weight: 500;
  font-style: Medium;
  font-size: 1rem;
  color: var(--grey);
  margin-top: 1rem;
}

.acter-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 3.75rem;
  padding: 1.25rem 3.125rem;
  scrollbar-width: none;
  position: relative;
}
.acter {
  margin-top: 1rem;
}
.acter__img {
  border-radius: 0.9375rem;
}
.acter__title {
  font-family: var(--font-family);
  font-weight: 700;
  font-style: Bold;
  font-size: 1.125rem;
  color: var(--white);
  margin-top: 1rem;
}
.acter-details {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}
.acter-name {
  display: grid;
  gap: 0.1875rem;
}
.acter-name__one {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 1rem;
  color: #F9F9F9;
}
.acter-name__two {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 0.75rem;
  color: var(--grey);
}

.arrow-acter {
  position: relative;
  display: flex;
  justify-content: space-between;
  top: 4.375rem;
}

.btn-sign {
  font-family: var(--third-family);
  font-weight: 400;
  font-size: 0.9375rem;
  text-align: center;
  color: var(--white);
  padding: 0.625rem 0.9375rem;
  border-radius: 10px;
  border: 1px solid var(--white);
  cursor: pointer;
  transition: all 0.3s ease;
}
.btn-sign:hover {
  transform: scale(1.06);
}

.btn-login {
  font-family: var(--third-family);
  font-weight: 400;
  font-size: 0.9375rem;
  text-align: center;
  background-color: var(--green);
  color: var(--white);
  padding: 0.75rem 0.9375rem;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.btn-login:hover {
  transform: scale(1.06);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 90;
  background-color: rgba(0, 0, 0, 0);
  display: none;
  align-items: center;
  justify-items: center;
}
.overlay.active {
  display: grid;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-login {
  padding: 1.5rem 1.875rem;
  background-color: var(--black-2);
  border: 1px solid var(--black-1);
  border-radius: 1.5rem;
  display: none;
  z-index: 97;
}
.modal-login__header {
  display: flex;
  align-items: center;
  gap: 5.625rem;
}
.modal-login__btn {
  font-family: var(--font-family);
  font-size: 1rem;
  font-weight: 600;
  border-radius: 0.75rem;
  padding: 0.5rem 1rem;
  color: var(--white);
  border: 1px solid var(--black-1);
  background-color: var(--black-3);
  cursor: pointer;
}
.modal-login__input {
  display: grid;
  gap: 0.625rem;
  margin-top: 1.5rem;
}
.modal-login__text {
  font-family: var(--font-family);
  font-size: 1.125rem;
  color: var(--white);
  font-weight: 700;
}
.modal-login input {
  background-color: var(--black-3);
  padding: 1rem;
  border: 1px solid var(--black-1);
  border-radius: 0.375rem;
  color: var(--white);
  font-family: var(--font-family);
  font-size: 1rem;
  width: 100%;
}
.modal-login.active {
  display: grid;
}

.login-btn {
  background-color: var(--white);
  border-radius: 0.375rem;
  color: var(--grey);
  font-family: var(--font-family);
  font-size: 0.875rem;
  font-weight: 600;
  margin-top: 1.5rem;
  width: 100%;
  cursor: pointer;
  padding: 0.8125rem 1.25rem;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 90;
  background-color: rgba(0, 0, 0, 0);
  display: none;
  align-items: center;
  justify-items: center;
}
.overlay.active {
  display: grid;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-sign {
  padding: 1.5rem 1.875rem;
  background-color: var(--black-2);
  border: 1px solid var(--black-1);
  border-radius: 1.5rem;
  display: none;
  z-index: 90;
}
.modal-sign__header {
  display: flex;
  align-items: center;
  gap: 5.625rem;
}
.modal-sign__btn {
  font-family: var(--font-family);
  font-size: 1rem;
  font-weight: 600;
  border-radius: 0.75rem;
  padding: 0.5rem 1rem;
  color: var(--white);
  border: 1px solid var(--black-1);
  background-color: var(--black-3);
  cursor: pointer;
}
.modal-sign__input {
  display: grid;
  gap: 0.625rem;
  margin-top: 1.5rem;
}
.modal-sign__text {
  font-family: var(--font-family);
  font-size: 1.125rem;
  color: var(--white);
  font-weight: 700;
}
.modal-sign input {
  background-color: var(--black-3);
  padding: 1rem;
  border: 1px solid var(--black-1);
  border-radius: 0.375rem;
  color: var(--white);
  font-family: var(--font-family);
  font-size: 1rem;
  width: 100%;
}
.modal-sign.active {
  display: grid;
}

.sign-btn {
  background-color: var(--white);
  border-radius: 0.375rem;
  color: var(--grey);
  font-family: var(--font-family);
  font-size: 0.875rem;
  font-weight: 600;
  margin-top: 1.5rem;
  width: 100%;
  cursor: pointer;
  padding: 0.8125rem 1.25rem;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.nav-list__item {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 1rem;
  color: var(--white);
}

.info-button {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.info__title {
  font-family: var(--font3);
  font-weight: 700;
  font-size: 2rem;
  line-height: 125%;
  letter-spacing: 0.01em;
  color: var(--white);
  margin-top: 1.5rem;
}

.btn-genre {
  font-family: var(--font3);
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 167%;
  color: #f9f9f9;
  border-radius: 1rem;
  padding: 0.25rem 1rem;
  background-color: var(--black-2);
}
.btn-counting {
  border-radius: 0.625rem;
  padding: 0.75rem 1.5rem;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 157%;
  letter-spacing: 0.01em;
  color: #f9f9f9;
  display: flex;
  align-items: center;
  gap: 0.625rem;
  background-color: var(--green);
  margin-top: 1.5rem;
}
.btn-counting:hover {
  background-color: #017c4f;
}
.btn-add {
  border: 2px solid var(--black-1);
  border-radius: 0.625rem;
  padding: 0.75rem 1.5rem;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 157%;
  letter-spacing: 0.01em;
  color: var(--white);
  display: flex;
  align-items: center;
  gap: 0.625rem;
  margin-top: 1.5rem;
  background-color: var(--black-1);
}
.btn-add:hover {
  border: 2px solid var(--green);
}

.actions {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.actions__btn {
  border: 2px solid var(--black-1);
  border-radius: 0.625rem;
  padding: 0.75rem 1.5rem;
  background-color: var(--black-2);
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 157%;
  letter-spacing: 0.01em;
  color: var(--white);
  display: flex;
  align-items: center;
  gap: 0.625rem;
}
.actions__btn:hover {
  border: 2px solid var(--green);
}

.video-modal {
  display: none;
  /* Скрыто по умолчанию */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 10000;
  justify-content: center;
  align-items: center;
}

/* Контейнер с видео */
.video-modal-content {
  position: relative;
  width: 80%;
  height: 80%;
  background-color: #000;
  border-radius: 12px;
  overflow: hidden;
}

/* Кнопка закрытия */
.close-modal {
  position: absolute;
  top: 10px;
  right: 20px;
  color: white;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
  z-index: 10001;
  transition: color 0.3s;
}

.close-modal:hover {
  color: #ff0000;
}

/* Iframe внутри модального окна */
#videoIframe {
  width: 100%;
  height: 100%;
  border: none;
}

.footer {
  background-color: var(--black-3);
}
.footer__container {
  padding: 4.375rem 4.6875rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3.125rem;
}

.content__title {
  font-family: var(--font3);
  font-weight: 500;
  font-size: 2.1875rem;
  line-height: 120%;
  color: var(--white);
  max-width: 25rem;
}
.content-system {
  display: flex;
  gap: 1.625rem;
  margin-top: 3.75rem;
}
.content__desc {
  font-family: var(--font3);
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 157%;
  color: var(--white);
  opacity: 0.7;
}

.services-section {
  display: flex;
  gap: 0.3125rem;
}
.services__desc {
  font-family: var(--font3);
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 160%;
  text-align: right;
  color: var(--white);
}
.services-coz {
  display: flex;
  gap: 2.5rem;
  justify-content: flex-end;
  margin-top: 5.9375rem;
}
.services-age {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 1.0625rem;
  line-height: 147%;
  color: var(--white);
  opacity: 0.7;
  text-align: right;
  margin-top: 3.75rem;
}

.header {
  --header-poster: url('img/scale_1200.jpg');
  background: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5), #08080a), var(--header-poster);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-size: cover;
  padding: 2.4375rem 0 0 0;
}
.header__container {
  padding-bottom: 37.5rem;
}
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-bottom {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 4rem 0;
  margin-top: 30rem;
}
.header-avatar {
  display: flex;
  gap: 1.4375rem;
  align-items: center;
}
.header-avatar__poisk {
  background-color: var(--black-2);
  border: 1px solid var(--black-1);
  border-radius: 0.625rem;
  padding: 0.625rem;
  color: var(--white);
  font-family: var(--font3);
  font-size: 1rem;
  display: none;
}
.header-avatar__poisk:focus {
  outline: none;
}

/*# sourceMappingURL=style.css.map */
