@use './functions' as *;

html {
  scroll-behavior: smooth;
  scrollbar-color: var(--black-1) var(--black-3);
}

body {
  background-color: var(--black-3);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--black-3);
}

::-webkit-scrollbar-thumb {
  background: var(--black-1);
  border-radius: rem(8);

  &:hover {
    background: var(--green);
  }
}

a:focus-visible,
button:focus-visible,
input:focus-visible {
  outline: 2px solid var(--green);
  outline-offset: 2px;
}

a {
  transition: all 0.3s ease;

  &:hover {
    color: var(--green);
  }
}


.container {
  max-width: rem(1290);
  margin: 0 auto;
  padding: 0 rem(15);
}

.logo {
  cursor: pointer;
}

.img-btn {
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    transform: scale(1.08);
  }
}

.btn-big {
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    transform: scale(1.08);
  }
}

.link-hover {
  transition: all 0.3 ease;

  &:hover {
    border-bottom: 1px solid var(--green);
  }
}